<html>
  <head>
    <meta charset="utf-8">
    <title>Index.ejs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    <h1>Secrets</h1>
    
    <button id="login_button">
      <a href="/auth/login">
        Private Secrets <i class="fab fa-microsoft" ></i>
      </a>
    </button>
    
    
    <button>
      <a href="/public">View Anonimus Secrets</a>
    </button>

    
  </body>
</html>
